<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.caaboos.mediamount"
        version="0.1.1">
    <name>MediaMount</name>
    <description>Update Android gallery</description>
    <license>MIT</license>
    <keywords>phonegap,android</keywords>


    <js-module src="www/mediamount.js" name="MediaMount">
        <clobbers target="window.mediamount"/>
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MediaMount">
                <param name="android-package" value="com.caaboos.mediamount.MediaMount"/>
            </feature>
        </config-file>

        <source-file src="src/android/MediaMount.java" target-dir="src/com/caaboos/mediamount"/>
    </platform>
</plugin>